$mobile-breakpoint: 800px;

.mainContainer {
  height: 100%;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  padding: 0 24px 24px 24px;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 24px 16px;
}

.floatingButton {
  position: absolute;
  right: 80px;
  bottom: 50px;
}
